div.cateoryWithCarousel{
    width: 100%;
    position: relative;
}
div.cateoryWithCarousel div.headbar{
    background-color: #DD2727;
}
div.cateoryWithCarousel div.headbar div.head{
    width: 200px;
    background-color: #C60A0A;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-left: 20px;
    display: inline-block;

}
div.rightMenu{
    display: inline-block;
}
div.rightMenu span{
    margin: 0px 20px;
}
div.rightMenu img{
    height: 30px;
}
div.rightMenu a{
    color: white;
    font-size: 16px;
    text-decoration: none;
}
div.carousel-of-product{
    height: 510px;
    width: 1024px;
    margin: 0px auto;
}
img.carouselImage{
    height: 510px !important;
}
div.carouselBackgroundDiv{
    width: 100%;
    height: 510px;
    background-color: #E8E8E8;
    position: absolute;
    top:36px;
    z-index: -1;
}
img.catear{
    position: absolute;
    height: 15px;
    z-index: 100;

}